<div class="accounts">


    <mat-card class="card" *ngFor="let account of bankAccounts">
        <mat-card-content class="images-section">
            <mat-card class="image-card">
                <img mat-card-image [src]="account.image1Url" alt="Image 1" />
                <mat-card-title>GPAY</mat-card-title>
                <button mat-raised-button color="accent" (click)="downloadImage(account.image1Url)">Download</button>
            </mat-card>
            <mat-card class="image-card">
                <img mat-card-image [src]="account.image2Url" alt="Image 2" />
                <mat-card-title>Phonepe</mat-card-title>
                <button mat-raised-button color="accent" (click)="downloadImage(account.image2Url)">Download</button>
            </mat-card>
        </mat-card-content>
        <mat-card-content class="bank-details">
            <mat-list>
                <mat-list-item>Name: {{ account.name }}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Account No: {{ account.accountNo }}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>IFSC: {{ account.ifscCode }}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Bank Name: {{ account.bankName }}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Branch Name: {{ account.branchName }}</mat-list-item>
                <mat-divider></mat-divider>

            </mat-list>
            <mat-list>
                <mat-list-item *ngFor="let id of account.upiIds; let last = last"> {{ id.upiId }}
                </mat-list-item>
                <mat-divider></mat-divider>

            </mat-list>

        </mat-card-content>
        <mat-card-actions class="copy_button">
            <button mat-raised-button color="accent" (click)="copyBankDetails(account)">Copy</button>
        </mat-card-actions>
    </mat-card>
</div>

